node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
.env*
*.js-token
*-token.js
exchange-*.js
*.log
telegram-chat-id.txt
send-*.js
send-*.mjs
*.ps1
magazynClient.ts

.env*.local
